<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.myshopmatic.com/images/2QJYW6/lRjmL7q6jr.png" alt="Los Angeles" />
    </div>
    <div class="carousel-item">
      <img src="https://cdn.myshopmatic.com/images/MPN8LK/wrNGrXAnRz.png" alt="Chicago" />
    </div>
    <div class="carousel-item">
      <img src="https://cdn.myshopmatic.com/images/GL9WNY/x1nlyJjMYB.png" alt="New York" />
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<section class="category-block">
  <div class="category">
    <img src="https://cdn.myshopmatic.com/images/MPN8LK/wrNGrXAnRz.png" />    
  </div>
  <div class="category">
    <img src="https://cdn.myshopmatic.com/images/GL9WNY/x1nlyJjMYB.png" />
  </div>
  <div class="category">
    <img src="https://cdn.myshopmatic.com/images/GL9WNY/x1nlyJjMYB.png" />
  </div>
  <div class="category">
    <img src="https://cdn.myshopmatic.com/images/GL9WNY/x1nlyJjMYB.png" />
  </div>
</section>
<section class="featured-stores">
  <p class="heading-text">Featured Stores</p>
  <div class="row">
    <div class="left-section col-md-6">
      <a href="store/thelocalbookhoarders">
        <div class="primary-store">
          <img src="https://cdn.myshopmatic.com/images/2QJYW6/3ywA6poGxp.jpg" />
          <p class="name">The Local Book Hoarders</p>
          <p class="desc">Second-hand books delivered to your doorstep.</p>
        </div>
      </a>
    </div>
    <div class="right-section col-md-6">
      <div class="first row">
        <div class="col-md-6">
          <div class="secondary-store">
            <img src="https://cdn.myshopmatic.com/images/2QJYW6/ngZok1EO4D.jpg" />
            <p class="name">Store name</p>
            <p class="desc">Store Description</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="secondary-store">
            <img src="https://cdn.myshopmatic.com/images/2QJYW6/v8Z3oKRgNn.jpg" />
            <p class="name">Store name</p>
            <p class="desc">Store Description</p>
          </div>
        </div>
      </div>
      <div class="second row">
        <div class="col-md-6">
          <div class="secondary-store">
            <img src="https://cdn.myshopmatic.com/images/2QJYW6/ojY0E9rxXB.jpg" />
            <p class="name">Store name</p>
            <p class="desc">Store Description</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="secondary-store">
            <img src="https://cdn.myshopmatic.com/images/2QJYW6/gnpOj9ZXqG.jpg" />
            <p class="name">Store name</p>
            <p class="desc">Store Description</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>