<div class="search">
  <p>Search results for <span class="query-text">"Tech"</span><p>
  <ul class="nav" role="tablist">
    <li class="products">
      <a class="active" data-toggle="pill" href="#products">Products</a>
    </li>
    <li class="stores">
      <a data-toggle="pill" href="#stores">Stores</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="products" class="tab-pane active"><br>
      <div class="products">
        <div class="col-md-3">
          <div class="product">
            <img alt="img" src="https://s3-sg-apps-temp.s3-ap-southeast-1.amazonaws.com/images/GL9WNY/KLWvrZKKQl" alt="#" />
            <p class="name">name</p>
            <p class="price"> INR 200</p>
          </div>
        </div>
      </div>
    </div>
    <div id="stores" class="tab-pane fade"><br>
    <div class="stores">
      <div class="col-md-3">
        <a href="store/woodsandpetals">
          <div class="secondary-store">
            <img src="https://cdn.myshopmatic.com/images/MPN8LK/r2R968y6Rk_m.jpg" alt="Woods and Petals" />
            <p class="name">Woods and Petals</p>
            <p class="desc">We encourage you to think where your consumables come from.</p>
          </div>
        </a>
      </div>
    </div>  
    </div>
  </div>
</div>