.home-carousel {
  .carousel {
    max-height: 300px;
    overflow: hidden;
    text-align: center;
  }
}
.category-block {
  display: flex;
  margin: 27px auto 0;
  @include small-mobile {
    display: block;
    text-align: center;
  }
  .category {
    img {
      height: 150px;
      width: 282px;
      margin: 0 16px 16px 0;
    }
    &:last-child {
      img {
        margin-right: 0;
      }
    }
  }
}
.home {
  max-width: $content-width;
  margin: 0 auto;
}
.featured-stores {
  margin: 0;
  @include small-mobile {
    display: block;
    margin: 0 15px;
  }
  .heading-text {
    color: #000000;
    font-size: 26px;
    letter-spacing: -0.5px;
    line-height: 44px;
    text-shadow: 0 1px 4px 0 #8FB8B8;
  }
  .left-section {
    @import 'common/mixins/primaryStoreBlock';
    @include primaryStoreBlock;
  }
  .right-section {
    @import 'common/mixins/secondaryStoreBlock';
    @include secondaryStoreBlock;
  }
}