//modal override
.modal-dialog {
  max-width: $content-width;
  .modal-content {
    padding: 22px;
    .left-section {
      .primary-img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      }
      .thumbnails {
        margin-top: 10px;
        img {
          cursor: pointer;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }
    .right-section {
      h1 {
        color: #000000;
        font-size: 26px;
        line-height: 34px;
        font-weight: normal;
        text-shadow: 0 1px 4px 0 #8FB8B8;
      }
      .price {
        height: 34px;
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        line-height: 34px;
        text-shadow: 0 1px 4px 0 #8FB8B8;
      }
      .description {
        width: 508px;
        color: #555555;
        font-size: 16px;
        line-height: 24px;
        text-shadow: 0 1px 4px 0 rgba(0,0,0,0.29);
      }
      .quantity {
        height: 24px;
        width: 49px;
        color: #777777;
        font-size: 13px;
        line-height: 24px;
      }
      .price-block {
        display: flex;        
        input {
          height: 40px;
          width: 98px;
          border: 1px solid #E0E0E0;
          border-radius: 3px;
          background-color: #F5F5F5;
          &::-webkit-inner-spin-button, 
          &::-webkit-outer-spin-button {
            opacity: 1;
          }
        }
        .buy-btn {
          height: 40px;
          width: 102px;
          border-radius: 5px;
          background-color: #4A90E2;
          color: #fff;
          //margin-left: 16px;
          a {
            color: #fff;
          }
        }
      }      
    }
  }
  .close {
    position: absolute;
    top: 0;
    right: 5px;
    background: #fff;
    opacity: 10;
  }
}