.navbar {
	background: $primary-color;
	height: 60px;
	@include small-mobile {
		height: auto;
	}
	.container {
		max-width: $content-width;
		padding: 0;
		.shopmatic-world {
			width: 206px;
			color: #FFFFFF;
			font-size: 30px;
			font-weight: 300;
			letter-spacing: -1px;
			line-height: 30px;
			.shopmatic {
				font-weight: 600;
			}
		}
		.search-bar {
			width: 504px;
			left: 12%;
			position: relative;
			input {
				height: 45px;
				border: none;
				border-radius: 4px; 
				&:focus {
					outline: none;
					box-shadow: none;
					border: none;
				}
			}
			.fa-search {
				position: absolute;
				right: 5px;
				padding: 10px 15px;
				background: $primary-color;
				top: 5px;
				width: 46px;
				color: #fff;
				z-index: 999;
				cursor: pointer;
			}
			@include small-mobile {
				position: inherit;
				margin: 5px 0;
			}
			ul {
				display: none;
				position: absolute;
				z-index: 999;
				background: #fff;
				width: 505px;
				border-radius: 4px;
				box-shadow: 0 2px 7px 0 rgba(0,0,0,0.12);
				list-style-type: none;
				padding: 10px;
				li {
					padding: 5px 10px;
				}
			}
		}
		.start-shop {
			height: 21px;
			color: #FFFFFF;
			font-size: 16px;
			line-height: 21px;
		}
	}
}