  <!-- The Modal -->
  <div class="modal fade" id='id'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="row">
          <div class="left-section col-md-6">
            <img alt="img" src="https://dev.goshopmatic.com/system/images/19160/big/16r4MOorZj.jpg?1532377966" />
          </div>
          <div class="right-section col-md-6">
            <h1>h1</h1>
            <p class="price">SGD 18.90</p>
            <p class="description">Black long sleeve top from our legacy. Crafted from cotton jersey, ribbed cuffs and bottom hem. Raglan sleeves with contrasting flower embroidery. Rounded and ribbed neck.</p>
            <div>
              <p class="quantity">Quantity</p>
              <input class="form-control" type="number" value="42" id="example-number-input">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <%# $('product-modal-1').show(); %>
