<div class="store">
  <%= render 'layouts/masthead' %>
  <section class="products">
    <div class="col-md-3">
      <div class="product" data-toggle="modal" data-target="#myModal">
        <img alt="img" src="https://dev.goshopmatic.com/system/images/19160/big/16r4MOorZj.jpg?1532377966" />
        <p class="name">Black fabric top</p>
        <p class="price">SGD 28.90</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product">
        <img alt="img" src="https://dev.goshopmatic.com/system/images/19160/big/16r4MOorZj.jpg?1532377966" />
        <p class="name">Black fabric top</p>
        <p class="price">SGD 28.90</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product">
        <img alt="img" src="https://dev.goshopmatic.com/system/images/19160/big/16r4MOorZj.jpg?1532377966" />
        <p class="name">Black fabric top</p>
        <p class="price">SGD 28.90</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product">
        <img alt="img" src="https://dev.goshopmatic.com/system/images/19160/big/16r4MOorZj.jpg?1532377966" />
        <p class="name">Black fabric top</p>
        <p class="price">SGD 28.90</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product">
        <img alt="img" src="https://dev.goshopmatic.com/system/images/19160/big/16r4MOorZj.jpg?1532377966" />
        <p class="name">Black fabric top</p>
        <p class="price">SGD 28.90</p>
      </div>
    </div>
  </section>

  <%= render 'layouts/product_popup' %>
</div>

