<!-- Masthead -->
<header class="text-center">  
  <div class="cover-image">
    <div class="banner" style="background-image: url('<%=@merchant.site_cover_image%>');"></div>    
    <div class="store-img">      
      <img src="<%=@merchant.site_logo%>" />
    </div>
  </div>
  <div class="about-us">
    <p><%=@merchant.site_about_us%></p>
    <button class="visit-store">Visit our website</button>
  </div>
</header>
