<!-- Masthead -->
<header class="text-center">  
  <div class="cover-image">
    <div class="banner" style="background-image: url('https://cdn.myshopmatic.com/images/MPN8LK/wrNGrXAnRz.png');"></div>    
    <div class="store-img">      
      <img src="https://cdn.myshopmatic.com/images/MPN8LK/5R6OZOnRK8.png" />
    </div>
  </div>
  <div class="about-us">
    <h1>Fabrix was founded in 2014 with a simple mission: produce clothing that feel good, inside and out.</h1>
    <p>By selling directly online to the consumer, we eliminate the cost of the middleman and retail space, saving you money and ensuring you’re purchasing nothing but the highest quality clothing. We go a step further by tracing back to the origin of our cotton, so you and your family feel confident knowing our products are authentic, pure and chemical-free.</p>
    <buttn class="visit-store">Visit our website</button>
  </div>
</header>
