<!-- Navigation -->
<nav class="navbar navbar-light static-top">
  <div class="container">
    <a class="shopmatic-world" href="/"><span class="shopmatic">Shopmatic</span><span class="world">World</span></a>
    <form class="navbar-form navbar-left search-bar" action="#">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <i class="fa fa-search" aria-hidden="true"></i>          
      </div>
    </form>
    <a class="start-shop" target="_blank" href="https://myshopmatic.com/templates/sites?flow=sign-up">Start a Shop</a>
  </div>
</nav>
