<!-- Navigation -->
<nav class="navbar navbar-light static-top">
  <div class="container">
    <a class="shopmatic-world" href="/"><img src="/assets/img/shopmatic-world-logo.png" /></a>
    <form class="navbar-form navbar-left search-bar" action="#">
      <div class="input-group">
        <input onkeydown="searchFn(event)" type="text" class="form-control" placeholder="Search" name="search">
        <i class="fa fa-search" aria-hidden="true"></i>          
      </div>
      <ul>
        <li>Product 1</li>
        <li>Product 2</li>
      </ul>
    </form>
    <a class="start-shop" target="_blank" href="https://myshopmatic.com/templates/sites?flow=sign-up">Start a Shop</a>
  </div>
</nav>

<%= javascript_tag do %>
function searchFn(e) {
  console.log(e.target.value)
  var xhttp=new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      //$("#product_popup").append(this.response)
      //$('#product-'+id).modal('show');
    }
  };
  xhttp.open("GET", "/products/"+e.target.value+"/search.html", true);
  xhttp.send();
}
<% end %>
